.swiper-vertical-item > img {
  height: 100%;
  width: 100%; }

.swiper-horizontal-item {
  display: inline-block;
  height: auto; }
  .swiper-horizontal-item > img {
    display: block;
    height: 100%;
    width: 100%; }
